body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(197, 189, 69, 1), rgba(10, 10, 0, 1));
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    flex-grow: 1;
}

main h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    background-color: #c5bd45;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #a89b3c;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

@media (max-width: 767px) and (min-width: 200px) {
    nav ul {
        flex-direction: column;
        font-size: 0.8em;
    }
}
