/* @media (min-width: 1200px) {
    .container {
        width: 100%;
    }
} */

/* ------------------------ Wider Screens Styles ------------------------ */
@media (min-width: 1200px) {
    /* Header styles for wider screens */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--nav-link-color);
        color: #fff;
        padding: 1rem 2rem;
    }

    /* Remove hamburger menu and adjust navMenu display */
    #hamburger {
        display: none;
    }

    #navMenu {
        display: flex;
        align-items: center;
        background-color: transparent;
        position: static;
        transform: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        margin: 0 1rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    nav ul li a:hover {
        font-size: 1.1rem;
        color: #e74c3cff;
    }

    /* Hero section styles for wider screens */
    .hero {
        position: relative;
        overflow: hidden; /* Prevent overflow */
    }

    .hero img {
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        filter: blur(2px);
        opacity: 0.6;
    }

    .tagline {
        position: absolute;
        left: 5%;
        top: 25%;
        color: var(--nav-hover-link-color);
        font-size: 2rem;
        background-color: rgba(179, 45, 45, 0.7); /* semi-transparent black background */
        padding: 1rem 3rem;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Optional: subtle shadow for better readability */
        max-width: 80%; /* Prevent overflow */
        transform: translateX(-5%); /* Adjust positioning */
    }

    .tagline p {
        margin-bottom: 1.5rem;
    }

    .tagline h1 {
        font-size: 2.5rem;
    }

    form {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        background-color: #4a90e2b3;
        padding: 1rem 3rem;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        max-width: 80%;
        transform: translateX(-5%); /* Adjust positioning */
    }

    form label {
        font-size: 1.1rem;
        font-weight: bold;
    }

    form select, form .heroSubmit {
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    form .heroSubmit {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
    }

    form .heroSubmit:hover {
        background-color: #0056b3;
        color: var(--nav-hover-link-color);
        font-weight: bold;
    }

    .hero .btn {
        position: absolute;
        right: 5%;
        top: 75%;
        transform: translateY(-50%);
        background: #007bff;
        color: #fff;
        padding: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 5px;
    }
}
