/* temples-large.css */

@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
  }

  nav a {
    text-decoration: none;
    font-size: medium;
  }

  nav a:hover {
    color: black;
    font-size: 1.2rem;
    background-color: var(--accent1-color);
  }
  
  nav ul li {
    margin-right: 20px;
  }

  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

}

